*{
    margin: 0;
    padding: 0;

}
.outerdiv{
    height: ;
    width: 200px;
    background-color: ;
    display: flex;
    float: left;
    margin:20px;
    padding: 4px;

}

.div1{
    height: ;
    width: ;
    background-color: ;
}
.div2 {
    height: ;
    width: ;
    background-color: ;
}
.div3 {
    height: ;
    width: ;
    background-color: ;
}

.para{
    width: 900px;
}
